body {
  background-color: #f1f1f1;
  margin: 0;
}

h1 {
  color: #1b262c;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

table {
  text-align: justify;
}

.anchor-nav {
  background-color: #f4fafe;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: -16px;
}

.anchor {
  font-size: 16px;
  font-weight: normal;
}

.top-container {
  background-color: #f4fafe;
  padding-top: 100px;
  margin-top: -20px;
  text-align: center;
}

.middle-container {
  margin-top: 30px;
  text-align: center;
}

.bottom-container {
  margin-top: 20px;
  text-align: center;
}

.bottom-container {
  margin-top: 20px;
  text-align: center;
}

.footer-container {
  margin-top: 40px;
  text-align: center;
}

.bottom-cloud {
  position: absolute;
  right: 60%;
  top: 110px
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 250px;
}

.iam {
  font-size: 20px;
}

.jsnamr {
  width: 200px;
}

.jsnamr:hover {
  padding: 25px;
  transform: scale(1.1);
}

#heading {
  font-size: 35px;
  font-family: Noto Sans, sans-serif;
}
