/**********TAG SELECTORS**********/
body {
  background-color: #F1F1F1;
}

h1 {
  color: #3282b8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

/**********CLASS SELECTORS**********/
.jsnamr:hover {
  padding: 25px;
  transform: scale(1.1);
}

/**********ID SELECTORS**********/
#heading {
  font-size: 35px;
  font-family: Noto Sans, sans-serif;
}
