body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #fff;
}

 hr {
	   border-style: none;
	   border-top-style: dotted;
	   border-color: grey;
	   border-width: 5px;
	   width: 5%;
   }

fa {
  color: white;
}
